<div class="gc-friends">
    <div class="gc-friends-left" ng-if="show_left_pane">
        <div class="search-form form-group">
            <input autocomplete="off" placeholder="Type to search" ng-keyup="find_friends(username_search)" type="text" class="form-control search-input" ng-model="username_search" id="gc-friends-search-username">
            <i class="fa fa-times close" ng-click="set_left_pane(false)"></i>
        </div>
        <div class="friends-found">
            <div class="friends-found-user" ng-repeat="user in search_friends_result track by user.id">
                <img class="friends-found-user-picture" src="public/DansePingvin.gif">
                <div class="friends-found-user-collection">
                    <div class="friends-found-user-collection-username">{{user.username}}</div>
                    <div class="friends-found-user-collection-name">{{user.first_name}} {{user.lastname}}</div>
                    <div class="friends-found-user-collection-email">{{user.email}}</div>
                </div>
                <button class="friends-found-user-add btn btn-primary" ng-click="add_friend(user.id)"><i class="fa fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="gc-friends-right">
        <button class="btn btn-primary" ng-click="set_left_pane(true)">Find friends</button>
        <div class="friends">
            <div class="friends-user" ng-repeat="friend in friends track by friend._id">
                <img class="friends-user-picture" src="public/DansePingvin.gif">
                <div class="friends-user-collection">
                    <div class="friends-user-collection-username">{{get_friend(friend.id).username}}</div>
                    <div class="friends-user-collection-online-status">
                        <label ng-if="get_friend(friend.id).online">Online</label>
                        <label ng-if="!get_friend(friend.id).online">Offline</label>
                    </div>
                    <button class="friends-user-remove btn btn-warning" ng-click="remove_friend(user.id)"><i class="fa fa-user-times"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>