<!-- _ASSIGN_ MSN -->
<div class="gc-friends">
    <div class="gc-friends-left" ng-if="show_left_pane">
        <div ng-if="left_state === 'search_friends'">
            <div class="search-form form-group">
                <input autocomplete="off" placeholder="Type to search" ng-keyup="find_friends(username_search)" type="text" class="form-control search-input" ng-model="username_search" id="gc-friends-search-username">
                <i class="fa fa-times close" ng-click="set_left_pane(false)"></i>
            </div>
            <div class="friends-found">
                <div class="friends-found-user" ng-repeat="user in search_friends_result track by $index">
                    <img class="friends-found-user-picture" src="public/DansePingvin.gif">
                    <div class="friends-found-user-collection">
                        <div class="friends-found-user-collection-username">{{user.username}}</div>
                        <div class="friends-found-user-collection-name">{{user.first_name}} {{user.lastname}}</div>
                        <div class="friends-found-user-collection-email">{{user.email}}</div>
                    </div>
                    <button class="friends-found-user-add btn btn-primary" ng-click="add_friend(user.id)"><i class="fa fa-user-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="gc-friends-left-friend-request-out" ng-if="left_state === 'friend_request_out'">
            <img class="profile-picture" src="public/DansePingvin.gif">
            <div class="row">
                <div class="col-sm-4">Username</div>
                <div class="col-sm-8">{{get_friend(selected.requester.friend).username}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">E-mail</div>
                <div class="col-sm-8">{{get_friend(selected.requester.friend).email}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Name</div>
                <div class="col-sm-8">{{get_friend(selected.requester.friend).first_name}} {{get_friend(selected.requester.friend).last_name}}</div>
            </div>
            <button class="btn btn-warning btn-block" ng-click="remove_friend_request(selected._id)">Remove friend request</button>
        </div>
        <div class="gc-friends-left-friend-request-in" ng-if="left_state === 'friend_request_in'">
            <img class="profile-picture" src="public/DansePingvin.gif">
            <div class="row">
                <div class="col-sm-4">Username</div>
                <div class="col-sm-8">{{get_friend(selected.requestee.friend).username}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">E-mail</div>
                <div class="col-sm-8">{{get_friend(selected.requestee.friend).email}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Name</div>
                <div class="col-sm-8">{{get_friend(selected.requestee.friend).first_name}} {{get_friend(selected.requestee.friend).last_name}}</div>
            </div>
            <button class="btn btn-success btn-block" ng-click="add_friend(selected.requestee.friend)">Accept friend request</button>
            <button class="btn btn-warning btn-block" ng-click="remove_friend_request(selected._id)">Reject friend request</button>
        </div>
        <div class="gc-friends-left-friend" ng-if="left_state === 'friend'">
            <img class="profile-picture" src="public/DansePingvin.gif">
            <div class="row">
                <div class="col-sm-4">Username</div>
                <div class="col-sm-8">{{get_friend(selected._id).username}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">E-mail</div>
                <div class="col-sm-8">{{get_friend(selected._id).email}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Name</div>
                <div class="col-sm-8">{{get_friend(selected._id).first_name}} {{get_friend(selected._id).last_name}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Online</div>
                <div class="col-sm-8">{{selected.online ? "Yes" : "Not online"}}</div>
            </div>
            <button class="btn btn-warning btn-block" ng-click="remove_friend_request(selected.friend_request_id)">Remove friend</button>
        </div>
        <div class="gc-friends-left-chat" ng-if="left_state === 'chat_friend'">
            <div class="gc-friends-left-chat-messages">
                <div class="gc-friends-left-chat-messages-info" ng-if="!get_messages([user.id, person_chat.friend]).messages">
                    Loading messages...
                </div>
                <div class="gc-friends-left-chat-messages-info" ng-if="get_messages([user.id, person_chat.friend]).messages.length === 0">
                    Ingen beskeder
                </div>
                <div class="gc-friends-left-chat-messages-message clearfix" ng-repeat="message in get_messages([user.id, person_chat.friend]).messages track by $index">
                    <div class="gc-friends-left-chat-messages-message-inner out" ng-if="message.user === user.id">
                        <div class="gc-friends-left-chat-messages-message-inner-user">
                            {{user.username}}
                        </div>
                        <div class="gc-friends-left-chat-messages-message-inner-content">
                            {{message.content}}
                        </div>
                        <div class="gc-friends-left-chat-messages-message-inner-date">
                            {{message.created_at | date : 'dd.MM-yyyy'}}
                        </div>
                    </div>
                    <div class="gc-friends-left-chat-messages-message-inner in" ng-if="message.user != user.id">
                        <div class="gc-friends-left-chat-messages-message-inner-user">
                            {{get_friend(message.user).username}}
                        </div>
                        <div class="gc-friends-left-chat-messages-message-inner-content">
                            {{message.content}}
                        </div>
                        <div class="gc-friends-left-chat-messages-message-inner-date">
                            {{message.created_at | date : 'dd.MM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <form ng-submit="new_message([user.id, person_chat.friend], person_chat.message)" class="form-group gc-friends-left-chat-newmessage" ng-if="get_messages([user.id, person_chat.friend]).messages">
                <textarea class="form-control gc-friends-left-chat-newmessage-text" rows="3" placeholder="Write your message here" ng-model="person_chat.message"></textarea>
                <button class="btn btn-success gc-friends-left-chat-newmessage-button">S
                e
                n
                d</button>
            </form>
        </div>
    </div>
    <div class="gc-friends-right">
        <div class="gc-friends-right-search">
            <button class="btn btn-primary btn-block" ng-click="open_search_friends()">Find friends</button>
        </div>
        <!-- Friend requests made by user to others -->
        <div class="friend-request-out">
            <div class="friend-request-out-user" ng-repeat="friend_request in friend_request_out track by $index">
                <img class="friend-request-out-user-picture" src="public/DansePingvin.gif">
                <div class="friend-request-out-user-collection">
                    <div class="friend-request-out-user-collection-username">{{get_friend(friend_request.requester.friend).username}}</div>
                    <div class="friend-request-out-user-collection-online-status">
                        <label>Pending friendship</label>
                    </div>
                </div>
                <button class="friend-request-out-user-info btn btn-primary" ng-click="open_friend_request_out(friend_request)"><i class="fa fa-info"></i></button>
            </div>
        </div>
        <!-- Friend requests made by others to this user -->
        <div class="friend-request-in">
            <div class="friend-request-in-user" ng-repeat="friend_request in friend_request_in track by $index">
                <img class="friend-request-in-user-picture" src="public/DansePingvin.gif">
                <div class="friend-request-in-user-collection">
                    <div class="friend-request-in-user-collection-username">{{get_friend(friend_request.requestee.friend).username}}</div>
                    <div class="friend-request-in-user-collection-online-status">
                        <label>Friendship request</label>
                    </div>
                </div>
                <button class="friend-request-in-user-info btn btn-primary" ng-click="open_friend_request_in(friend_request)"><i class="fa fa-info"></i></button>
            </div>
        </div>
        <!-- Actual friends -->
        <div class="friends">
            <div class="friends-user" ng-repeat="friend in friends track by $index" ng-style="friend._id === person_chat.friend && {'background-color':'#D0D0D0'}">
                <img class="friends-user-picture" src="public/DansePingvin.gif">
                <div ng-click="select_friend(friend._id)" class="friends-user-collection">
                    <div class="friends-user-collection-username">{{get_friend(friend._id).username}}</div>
                    <div class="friends-user-collection-online-status">
                        <label ng-if="friend.online">Online</label>
                        <label ng-if="!friend.online">Offline</label>
                    </div>
                </div>
                <button class="friends-user-info btn btn-primary" ng-click="open_friend(friend)"><i class="fa fa-info"></i></button>
            </div>
        </div>
    </div>
</div>