#aboutMain {
	margin: 0px 0px 60px;
	margin-left: 20%;
	width: 700px;
	height: 500px;
}
#aboutText{
	float:left;
	height:440px;
	width:350px;
	padding: 10px 30px;
	border: 2px solid #a1a1a1;
	border-radius: 15px;
}

#aboutKontakt{
	float: right;
	height:100px;
	width:300px;
	padding: 10px 30px;
	border: 2px solid #a1a1a1;
	border-radius: 15px;
}

#aboutGitLog{
	float: right;
	height:300px;
	width:300px;
	padding: 10px 30px;
	margin-top: 40px;
	border: 2px solid #a1a1a1;
	border-radius: 15px;
}