#aboutMain {
	padding: 20px 40px 20px 40px;	
	width: 600px;
}
#aboutText{
	float:left;
	height:600px;
	width:300px;
	padding: 10px 30px;
	border: 1px solid #a1a1a1;
	border-radius: 15px;
}

#aboutKontakt{
	height:200px;
	width:300px;
	padding: 10px 30px;
	border: 1px solid #a1a1a1;
	border-radius: 15px;
}

#aboutGitLog{
	height:400px;
	width:300px;
	padding: 10px 30px;
	border: 1px solid #a1a1a1;
	border-radius: 15px;
}