<!-- _ASSIGN_ ET -->
<div id="gc-navbar" class="nav-container">
    <div class="nav-container-options">
        <button type="submit" class="btn btn-default navbut fa fa-user" title="Profile" ng-click="the_toggler('profile')"></button>
        <button type="submit" class="btn btn-default navbut fa fa-users" title="Friends" ng-click="the_toggler('friends')"></button>
        <button type="submit" class="btn btn-default navbut fa fa-list" title="Raw Feed" ng-click="the_toggler('raw')"></button>
        <button type="submit" class="btn btn-default navbut fa fa-comments-o" title="Chat" ng-click="the_toggler('chat')"></button>
        <button type="submit" class="btn btn-default navbut fa fa-comment-o" title="Comments" ng-click="the_toggler('comments')"></button>
    </div>
    <div id="ham-pad" ng-click="toggle_navbar()">
        <p class="fa fa-bars"></p>
    </div>
</div>