#indexMain {
	padding: 20px 40px 20px 40px;	
}

#indexCenterParagraph{
	text-align:center;
	padding: 5px 10px;
}

#indexUpdateList{
	float:left;
	padding: 10px 30px;
	border: 1px solid #a1a1a1;
	border-radius: 15px;
}

#indexFeatureList{
	padding: 10px 30px;
	border: 1px solid #a1a1a1;
	border-radius: 15px;
}