#indexMain {
	margin: 0px 0px 60px;
	margin-left: 20%;
	width: 700px;
}

#indexCenterParagraph{
	text-align:center;
	padding: 5px 10px;
}

#indexUpdateList{
	float:left;
	margin-top: 10px;
	padding: 10px 30px;
	border: 2px solid #a1a1a1;
	border-radius: 15px;
	width: 300px;
}

#indexFeatureList{
	float: right;
	margin-top: 10px;
	padding: 10px 30px;
	width: 300px;
	border: 2px solid #a1a1a1;
	border-radius: 15px;
}