<div id="gc-navbar">
    <button id="test" type="submit" class="btn btn-default navbut fa fa-user" title="Profile"></button>
    <button type="submit" class="btn btn-default navbut fa fa-users" title="Friends"></button>
    <button type="submit" class="btn btn-default navbut fa fa-list" title="Raw Feed"></button>
    <button type="submit" class="btn btn-default navbut fa fa-comments-o" title="Chat"></button>
    <button type="submit" class="btn btn-default navbut fa fa-comment-o" title="Comments"></button>
    <div id="ham-pad">
    	<button id="hamburger" class="btn btn-default navbut fa fa-bars"></button>
    </div>
</div>