<div class="gc-comments-list">
    <!-- -->
    <div ng-if="show_left_pane && current.type === 'comments'" class="gc-comments-list-left">
        <div class="gc-comments-list-left-close" >
        <button style="float: left; font-size: 10px"><a href="{{thread.referer}}?comment={{thread.uri}}" target="_blank">unsubscribe</a></button>
            <i style="float: right" class="fa fa-times" ng-click="set_left_pane(false)"></i>
        </div>

        <div class="gc-comments-list-left-chat">
            <div class="gc-comments-list-left-chat-messages">
                <div class="gc-comments-list-left-chat-messages-info" ng-if="!get_comments(current.reference).messages">
                    Loading comments...
                </div>
                <div class="gc-comments-list-left-chat-messages-info" ng-if="get_comments(current.reference).messages.length === 0">
                    No comments yet
                </div>
                <div class="gc-comments-list-left-chat-messages-message clearfix" ng-repeat="message in get_comments(current.reference).messages track by message._id">
                    <div class="gc-comments-list-left-chat-messages-message-inner out" ng-if="message.user === user.id">
                        <div class="gc-comments-list-left-chat-messages-message-inner-user">
                           YOU
                        </div>
                        <div class="gc-comments-list-left-chat-messages-message-inner-content">
                            {{message.content}}
                            <div style="float: right;">
                                <p class="btn" ng-click="delete_comment(message._id)">x</p>
                            </div>
                        </div>
                        <div class="gc-comments-list-left-chat-messages-message-inner-date">
                            {{message.created_at | date : 'dd.MM-yyyy'}}
                        </div>
                    </div>
                    <div class="gc-comments-list-left-chat-messages-message-inner in" ng-if="message.user != user.id">
                        <div class="gc-comments-list-left-chat-messages-message-inner-user">
                            {{get_friend(message.user).username}} 
                        </div>
                        <div class="gc-comments-list-left-chat-messages-message-inner-content">
                            {{message.content}}
                        </div>
                        <div class="gc-comments-list-left-chat-messages-message-inner-date">
                            {{message.created_at | date : 'dd.MM-yyyy HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>
            <form ng-submit="new_comment(current.reference, current.message)" class="form-group gc-comments-list-left-chat-newmessage" ng-if="get_comments(current.reference).messages">
                <textarea class="form-control gc-comments-list-left-chat-newmessage-text" rows="3" placeholder="Write your comment here" ng-model="current.message"></textarea>
                <button class="btn btn-success gc-comments-list-left-chat-newmessage-button">S
                e
                n
                d</button>
            </form>
        </div>
        <!-- -->
    </div>
    <div class="gc-comments-list-right">

        <div class="gc-comments-list-right-thread" ng-repeat="thread in thread_chat_comments | orderBy: '+updated_at'">
            <div ng-if="thread.is_thread_chat" ng-click="set_left_pane(true, thread.users, undefined, 'chat')">
                <div class="gc-comments-list-right-thread-users clearfix">
                    <div class="gc-comments-list-right-thread-users-user" ng-repeat="friend in thread.users track by friend">
                        {{get_friend(friend).username}}
                    </div>
                </div>
                <div class="gc-comments-list-right-thread-messages">
                    <div class="gc-comments-list-right-thread-messages-message clearfix" ng-repeat="message in (get_messages(thread.users).messages | limitTo:5:get_messages(thread.users).messages.length -5) track by message._id">
                        <div class="gc-comments-list-right-thread-messages-message-inner out" ng-if="message.user === user.id">
                            <div class="gc-comments-list-right-thread-messages-message-inner-content">
                                {{message.content}}
                            </div>
                        </div>
                        <div class="gc-comments-list-right-thread-messages-message-inner in" ng-if="message.user != user.id">
                            <div class="gc-comments-list-right-thread-messages-message-inner-content">
                                {{message.content}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gc-comments-list-right-thread-updated">
                    {{thread.updated_at | date : 'dd.MM-yyyy'}}
                </div>
            </div>



            <!-- Comments Left Pane-->
            <div ng-if="thread.is_thread_comment" ng-click="set_left_pane(true, undefined, thread.uri, 'comments')">
                <div class="gc-comments-list-right-thread-uri">
                    <button><a href="{{thread.referer}}?comment={{thread.uri}}" target="_blank">comment context</a></button>
                </div>
                <div class="gc-comments-list-right-thread-users clearfix">
                </div>
                <div class="gc-comments-list-right-thread-messages">
                    <div class="gc-comments-list-right-thread-messages-message clearfix" ng-repeat="message in (get_comments(thread.uri).messages | limitTo:5:get_comments(thread.uri).messages.length -5) track by message._id">
                        <div class="gc-comments-list-right-thread-messages-message-inner out" ng-if="message.user === user.id">
                            <div class="gc-comments-list-right-thread-messages-message-inner-content">
                                {{message.content}}
                            </div>
                        </div>
                        <div class="gc-comments-list-right-thread-messages-message-inner in" ng-if="message.user != user.id">
                            <div class="gc-comments-list-right-thread-messages-message-inner-content">
                                {{message.content}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gc-comments-list-right-thread-updated">
                    {{thread.updated_at | date : 'dd.MM-yyyy'}}
                </div>
            </div>
        </div>
    </div>
</div>