.gc-comments-list {
    .flex();
    &-left {
        .flex();
        .flex-direction(column);
        width: 290px;
    }
    &-right {
        float: right;
        width: 200px;
    }
}

.comment_button{
    width: 95%;
    background-color: #F2F2F2;
}

.space_butt{
    padding-top: 2%;
}


