<div id="gc-navbar">
<button type="submit" class="btn btn-default navbut" title="Profile"><img src="./public/account-circle.svg"></button>
<button type="submit" class="btn btn-default navbut" title="Friends"><img src="./public/account-multiple.svg"></button>
<button type="submit" class="btn btn-default navbut" title="Raw Feed"><img src="./public/sort.svg"></button>
<button type="submit" class="btn btn-default navbut" title="Chat"><img src="./public/message-text-outline.svg"></button>
<button type="submit" class="btn btn-default navbut" title="Comments"><img src="./public/comment-multiple-outline.svg"></button>
</div>